@import '../../assets/colors';

.left-bar {
  width: 52px;
  background-color: $primary;
  padding-top: 24px;
  &__box {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    background-color: $secondPrimary;
    cursor: pointer;
  }
}