@import '../../../assets/colors';

.input-task {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;

  & > * {
    margin-bottom: 12px;
  }

  &__up {
    width: 100%;
    display: flex;
    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__button {
    padding: 11px;
    background-color: $primary;
    color: $white;
    border-radius: 4px;
    cursor: pointer;
  }

  input {
    width: 100%;
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px !important;

    &:focus-visible {
      outline: none;
    }
  }
}
